* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;

}
#search {
  padding: 10px 0px;
  font-size: 20px;
  width: 1000px;
}
#add {
  font-size: 20px;
  padding: 1px 20px;
  font-size: 30px;
  cursor: pointer;
}
h2{
  margin-top: 20px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
}

#info {
  padding: 100px 150px;
  border: 2px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
#info h3{
  margin-top: 10px;
}


input {
  width: 200px;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#update , #delete , #save , #addNew {
  width: 100%;
  padding: 5px 0px;
  cursor: pointer;
  font-size: 16px;
}
#return{
  position: fixed;
  bottom: 30px; 
  left: 30px;
  height: 40px; 
  width: 120px;  
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img{
  width: 20px;
}
tr td input{
  width: 95%;
}

tr:nth-child(even) {
  background-color: white;
}
#error , #done{
  display: none; 
  align-items: center; 
  gap: 5px;
}
#error img , #done img{
  width:30px;
  height:30px;
}
.spinnerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
