*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#search{
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 15px;
}
a{
 text-decoration: none;
 color: black;
}
#info{
  padding: 20px 60px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input{
  width: 200px;
  padding:5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding: 5px;
  cursor: pointer;
}